Repository zigpy/zha-device-handlers, pull requests merged in 2023-02, with the labels that each got.

#2043 Set TuyaData.dp_type automatically
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/mcu/__init__.py
  zhaquirks/tuya/ts0601_garage.py
  zhaquirks/tuya/ts0601_illuminance.py
  zhaquirks/tuya/ts0601_rcbo.py
  zhaquirks/tuya/ts0601_sensor.py
  zhaquirks/tuya/ts0601_siren.py
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya, waiting for changes

#2175 tuya: fix negative values for some devices
  tests/test_tuya_clusters.py
  zhaquirks/tuya/__init__.py
Labels: Tuya

#2171 Add missing window_detection_bus to Tuya TRV MoesHY368_Type2
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya

#2186 Add attribute "motor_mode" to TS130F
  zhaquirks/tuya/ts130f.py
Labels: Tuya

#2198 Add "consumer connected" attribute to Xiaomi EU plugs
  zhaquirks/xiaomi/aqara/plug_eu.py
Labels: ready

#2197 Adding timesync response for Siterwell RTVs
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya

#2201 Add `_TZE200_m9skfctm` to TuyaSmokeDetector0601
  zhaquirks/tuya/ts0601_smoke.py
Labels: Tuya

#2207 Add `TuyaTripleGang_var05` for `TS0013` devices
  zhaquirks/tuya/ts001x.py
Labels: needs final review, Tuya

#2210 Adding Appartme APRM-04-001 TRV
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya

#2017 RFC: Tuya data refactoring (implicit conversion of `tuya.Data`)
  tests/test_tuya.py
  zhaquirks/tuya/__init__.py
Labels: Tuya
