Repository zigpy/zha-device-handlers, pull requests merged in 2023-10, with the labels that each got.

#2616 Add new Tuya multi switch devices (x8, x16)
  zhaquirks/tuya/mcu/__init__.py
  zhaquirks/tuya/ts0601_switch.py
Labels: new quirk, Tuya

#2613 Add 1CH mini Smart Switch Model FS-02ZE `_TS000F_xkap8wtb`
  zhaquirks/tuya/ts000f_switch.py
Labels: Tuya

#2625 Add Aqara T1 door sensor support
  tests/test_xiaomi.py
  zhaquirks/xiaomi/aqara/magnet_agl02.py
Labels: new quirk

#2660 Add Tuya Air Sensor TS0601 `_TZE200_mja3fuja` variation
  zhaquirks/tuya/air/ts0601_air_quality.py
Labels: Tuya

#2629 Add Xiaomi E1 driver curtain support
  tests/test_xiaomi.py
  zhaquirks/xiaomi/__init__.py
  zhaquirks/xiaomi/aqara/driver_curtain_e1.py
Labels: new quirk

#2658 Add "power outage memory" support for Aqara ceiling light L1-350
  tests/test_xiaomi.py
  zhaquirks/xiaomi/aqara/light_acn.py
Labels: new quirk

#2626 Fix battery reporting for `_TZE200_yjjdcqsq`, `_TZE200_9yapgbuv`
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#2674 Add quirk IDs to Tuya plugs
  zhaquirks/quirk_ids.py
  zhaquirks/tuya/ts000x.py
  zhaquirks/tuya/ts011f_plug.py
  zhaquirks/tuya/ts0121_plug.py
  zhaquirks/tuya/ts0601_switch.py
Labels: Tuya

#2679 Add custom Tuya `OnOff` cluster to two TS011F models
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya

#2678 Add "power outage memory" support for Aqara LED Bulb T1 (ZNLDP13LM)
  tests/test_xiaomi.py
  zhaquirks/xiaomi/aqara/light_acn.py
Labels: new quirk, hacktoberfest-accepted

#2634 Add Tuya Basic Valve TS0601 `_TZE200_1n2zev06` (#2633)
  zhaquirks/tuya/ts0601_valve.py
Labels: hacktoberfest-accepted

#2681 Add quirk id for Xiaomi Aqara Vibration AQ1
  zhaquirks/quirk_ids.py
  zhaquirks/xiaomi/aqara/vibration_aq1.py
Labels: hacktoberfest-accepted
