Repository zigpy/zha-device-handlers, pull requests merged in 2023-04, with the labels that each got.

#2316 Address Tuya `EnchantedDevice` inheritance for remotes
  zhaquirks/tuya/ts004f.py
Labels: Tuya

#2322 Fix Tuya math domain error for illuminance
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#2330 Ignore missing default reply for GLEDOPTO AC dimmer
  zhaquirks/__init__.py
  zhaquirks/gledopto/glsd001.py
  zhaquirks/kof/kof_mr101z.py
Labels: new quirk

#2341 Add another version of Aqara roller shade driver E1
  zhaquirks/xiaomi/aqara/roller_curtain_e1.py
Labels: new quirk

#2343 Fix bug in Aqara pet feeder
  zhaquirks/xiaomi/aqara/feeder_acn001.py
Labels: bugfix

#2348 Add Tuya TS011F `_TZ3000_jak16dll` plug variant
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya
