Repository zigpy/zha-device-handlers, pull requests merged in 2023-03, with the labels that each got.

#2244 Enable `ints` up to 8 bytes
  zhaquirks/tuya/__init__.py
Labels: Tuya

#2229 Update GitHub stale action to v7
  .github/workflows/stale.yml
Labels: needs final review

#2256 Add Aqara E1 water leak sensor quirk
  zhaquirks/xiaomi/aqara/water_acn001.py
Labels: ready

#2265 Add Tuya TS0501 fan controller quirk
  tests/test_tuya.py
  zhaquirks/tuya/ts0501_fan_switch.py
Labels: Tuya

#2220 Add Smartwings WM25L-Z quirk
  tests/test_smartwings.py
  zhaquirks/smartwings/__init__.py
  zhaquirks/smartwings/wm25lz.py
Labels: in progress, has tests

#2291 Add support for Tuya LoraTap dimmers
  zhaquirks/tuya/ts0601_dimmer.py
Labels: Tuya

#2295 Add support for TS130F curtain controller variant by OXT
  zhaquirks/tuya/ts130f.py
Labels: Tuya

#2296 Add Tuya `TS0002` 2 gang switch variant
  zhaquirks/tuya/ts000x.py
Labels: Tuya

#2289 Add Tuya LH-961ZB motion sensor support
  tests/test_tuya.py
  zhaquirks/tuya/sm0202_motion.py
Labels: Tuya

#2288 Add `TuyaNoBindPowerConfigurationCluster` for Tuya remotes to stop battery drain
  tests/test_tuya.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/ts0041.py
  zhaquirks/tuya/ts0042.py
  zhaquirks/tuya/ts0043.py
  zhaquirks/tuya/ts0044.py
  zhaquirks/tuya/ts0046.py
Labels: Tuya

#2299 Address Tuya `EnchantedDevice` inheritance
  zhaquirks/tuya/ts000x.py
Labels: Tuya

#2112 Add initial support for Insta NEXENTRO Pushbutton Interface
  zhaquirks/insta/__init__.py
  zhaquirks/insta/nexentro_pushbutton_interface.py
Labels: needs final review

#2208 Support double click and long press for Sinopé light and dimmer
  zhaquirks/sinope/__init__.py
  zhaquirks/sinope/light.py
  zhaquirks/sinope/sensor.py
  zhaquirks/sinope/switch.py
  zhaquirks/sinope/thermostat.py
Labels: needs final review

#2273 Add IEKA Symfonisk Gen2 v1/v2 support
  zhaquirks/const.py
  zhaquirks/ikea/__init__.py
  zhaquirks/ikea/symfonisk2.py
Labels: in progress

#2219 Initial Aqara Smoke Detector implementation
  tests/test_xiaomi.py
  zhaquirks/xiaomi/__init__.py
  zhaquirks/xiaomi/aqara/smoke.py
Labels: needs final review, has tests

#2238 Improve Aqara E1 thermostat quirk
  tests/test_xiaomi.py
  zhaquirks/xiaomi/aqara/thermostat_agl001.py
Labels: needs final review, has tests

#2231 Remove updating `ZONE_STATE` on motion for `MotionWithReset` cluster
  tests/test_konke.py
  tests/test_orvibo.py
  tests/test_tuya.py
  tests/test_xiaomi.py
  zhaquirks/__init__.py
  zhaquirks/const.py
  zhaquirks/terncy/__init__.py
Labels: needs final review

#2188 Fix Tuya signed 16 bit temperature values
  tests/test_tuya_air.py
  zhaquirks/tuya/air/__init__.py
Labels: Tuya, has tests

#2305 Don't bind power config for Tuya TS004F remotes, use remote OnOff cluster
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/ts004f.py
Labels: Tuya

#2312 Fix Tuya `_TZE200_t1blo2bj` siren toggle switch
  zhaquirks/tuya/ts0601_siren.py
Labels: needs final review, Tuya

#2310 Add Tuya Mercator IKUU SSWRM-ZB dimmer support
  zhaquirks/tuya/ts0601_dimmer.py
Labels: Tuya
