Repository zigpy/zha-device-handlers, pull requests merged in 2023-09, with the labels that each got.

#2578 Add Tuya battery cluster for TS0001 fingerbot
  zhaquirks/tuya/ts0001_fingerbot.py
Labels: Tuya, bugfix

#2591 Signature code clean up for TS0003 Tuya quirk
  zhaquirks/tuya/ts000x.py
Labels: Tuya, ready

#2593 Add Tuya blind motor (Amazon US - HILADUO) `_TZE200_9p5xmj5r` variant
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya, ready

#2590 Add Aqara T1 water leak sensor support
  zhaquirks/xiaomi/aqara/water_agl02.py
Labels: new quirk, ready

#2592 Add Tuya TS011F plug variant, add Tuya `0x1888` cluster class
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya, ready

#2605 Add Tuya curtain motor Yushun YS-MT750L `_TZE200_gaj531w3`
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#2608 Fix parsing XBee ZDO data
  tests/test_xbee.py
  zhaquirks/xbee/__init__.py
Labels: bugfix
