Repository zigpy/zha-device-handlers, pull requests merged in 2023-08, with the labels that each got.

#2515 Add ThirdReality vibration sensor
  zhaquirks/thirdreality/vibrate.py
Labels: new quirk

#2535 Add Tuya cover TS0601 `_TZE200_dng9fn0k` variant
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#2545 Add Tuya Smoke Detector TS0601 `_TZE204_ntcy3xu1` variation
  zhaquirks/tuya/ts0601_smoke.py
Labels: Tuya

#2513 Add Aqara T1 relay (with neutral) support
  tests/test_xiaomi.py
  zhaquirks/xiaomi/__init__.py
  zhaquirks/xiaomi/aqara/switch_t1.py
Labels: new quirk

#2506 Add Tuya fingerbot `_TZ3210_dse8ogfy` support
  zhaquirks/tuya/ts0001_fingerbot.py
Labels: Tuya

#2554 Fix Tuya fingerbot TS0001 `OnOff` cluster not working
  zhaquirks/tuya/ts0001_fingerbot.py
Labels: Tuya, bugfix

#2555 Fix docs comment regarding `TuyaEnchantableCluster`
  zhaquirks/tuya/__init__.py
Labels: Tuya
