Repository zigpy/zha-device-handlers, pull requests merged in 2023-01, with the labels that each got.

#2055 New mcu_connection_status commands
  tests/test_tuya_mcu.py
  zhaquirks/tuya/mcu/__init__.py
Labels: Tuya - Needs Final Review

#2085 Add quirk for extended on/off cluster of TS011F _TYZB01_hlla45kx
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya - Needs Final Review

#2094 Add support for Tuya TS0046
  zhaquirks/tuya/ts0046.py
Labels: needs final review, Tuya

#2105 add _TZE200_9yapgbuv to TuyaTempHumiditySensorVar03
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya, ready

#2107 New `ts0601_garage` quirk
  zhaquirks/tuya/ts0601_garage.py
Labels: Tuya

#2122 Quirk for Develco Motion Sensor Pro
  tests/test_develco.py
  zhaquirks/develco/motion.py
Labels: needs final review

#2126 Add lights dimmer support for _TZE200_w4cryh2i
  zhaquirks/tuya/ts0601_dimmer.py
Labels: needs final review, Tuya

#2117 Add generic tuya sensor variant to quirk
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya, ready

#2102 Add TS0601 Soil Moisture Sensor
  zhaquirks/tuya/ts0601_sensor.py
Labels: needs final review, Tuya

#2128 add support for URC4460BC0-X-R
  zhaquirks/universalelectronics/__init__.py
  zhaquirks/universalelectronics/contact_sensor.py
Labels: needs final review

#2071 Add color support for Tint E14 RGB CCT lights
  zhaquirks/mli/tintE14rgbcct.py
Labels: needs final review

#2130 Added support for Linkind D0003 Motion sensor
  zhaquirks/linkind/motion.py
Labels: needs final review

#2136 add two manufacturers to TS0501bs
  zhaquirks/tuya/ts0501bs.py
Labels: Tuya

#2138 Deleting _TZE200_2ekuz3dz
  zhaquirks/tuya/ts0601_trv_sas.py
Labels: needs final review, Tuya

#2146 Add Zonnsmart TRV IDs and comment with names
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya
