Repository zigpy/zha-device-handlers, pull requests merged in 2023-11, with the labels that each got.

#2609 Add IKEA Rodret dimmer support
  zhaquirks/ikea/__init__.py
  zhaquirks/ikea/twobtnremote.py
Labels: new quirk

#2703 Add Tervix Pro Line EVA 2 quirk (TS0601 Tuya TRV)
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya

#2715 Fix missing asserts in Tuya cluster tests
  tests/test_tuya_clusters.py
Labels: Tuya, code quality

#2720 Add test requiring new quirks to provide model info
  tests/test_quirks.py
Labels: code quality

#2684 Add alternative signatures to Aqara T1 Relay
  zhaquirks/xiaomi/aqara/switch_t1.py
Labels: new quirk

#2716 Add missing local `MeteringCluster` to Aqara `lumi.relay.c2acn01`
  zhaquirks/xiaomi/aqara/relay_c2acn01.py
Labels: bugfix

#2733 Fix Aqara T1 motion sensor `illuminance_reported` error
  tests/test_xiaomi.py
  zhaquirks/xiaomi/aqara/motion_agl02.py
Labels: bugfix

#2710 Fix Tuya Haozee TRV deprecated `attridx` and usage
  zhaquirks/tuya/ts0601_haozee.py
Labels: Tuya, bugfix, code quality

#2714 Fix trying to update existing attributes in Tuya TRV quirk
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya, code quality

#2713 Remove reassigning same variable twice in Tuya code
  zhaquirks/tuya/__init__.py
Labels: Tuya, code quality

#2709 Remove unused loggers, empty constructors
  zhaquirks/bitron/thermostat.py
  zhaquirks/centralite/__init__.py
  zhaquirks/edpwithus/__init__.py
  zhaquirks/hivehome/mot003V0.py
  zhaquirks/hivehome/mot003V6.py
  zhaquirks/ikea/__init__.py
  zhaquirks/ikea/starkvind.py
  zhaquirks/konke/button.py
  zhaquirks/mli/tint.py
  zhaquirks/osram/lightifyx4.py
  zhaquirks/samjin/__init__.py
  zhaquirks/samjin/button.py
  zhaquirks/samjin/button2.py
  zhaquirks/siglis/zigfred.py
  zhaquirks/smartthings/tag_v4.py
  zhaquirks/sonoff/button.py
  zhaquirks/tuya/ts004f.py
  zhaquirks/tuya/ts0210.py
  zhaquirks/tuya/ts0601_electric_heating.py
  zhaquirks/tuya/ts0601_haozee.py
  zhaquirks/tuya/ts0601_siren.py
  zhaquirks/visonic/mct340e.py
  zhaquirks/xiaomi/aqara/ctrl_neutral.py
  zhaquirks/xiaomi/aqara/cube.py
  zhaquirks/xiaomi/aqara/cube_aqgl01.py
  zhaquirks/xiaomi/aqara/illumination.py
  zhaquirks/xiaomi/aqara/light_aqcn2.py
  zhaquirks/xiaomi/aqara/magnet_aq2.py
  zhaquirks/xiaomi/aqara/motion_ac01.py
  zhaquirks/xiaomi/aqara/opple_remote.py
  zhaquirks/xiaomi/aqara/plug.py
  zhaquirks/xiaomi/aqara/plug_eu.py
  zhaquirks/xiaomi/aqara/plug_maus01.py
  zhaquirks/xiaomi/aqara/relay_c2acn01.py
  zhaquirks/xiaomi/aqara/remote_b186acn01.py
  zhaquirks/xiaomi/aqara/remote_b286acn01.py
  zhaquirks/xiaomi/aqara/sensor_switch_aq3.py
  zhaquirks/xiaomi/aqara/switch_aq2.py
  zhaquirks/xiaomi/aqara/vibration_aq1.py
  zhaquirks/xiaomi/aqara/weather.py
  zhaquirks/xiaomi/mija/motion.py
  zhaquirks/xiaomi/mija/sensor_ht.py
  zhaquirks/xiaomi/mija/sensor_magnet.py
  zhaquirks/xiaomi/mija/sensor_switch.py
  zhaquirks/xiaomi/mija/smoke.py
Labels: code quality

#2711 Remove re-setting final `cluster_id` when inherited already
  zhaquirks/__init__.py
  zhaquirks/adeo/color_controller.py
  zhaquirks/centralite/cl_3130.py
  zhaquirks/centralite/cl_3460L.py
  zhaquirks/centralite/motionandtemp.py
  zhaquirks/ecolink/contact.py
  zhaquirks/elko/__init__.py
  zhaquirks/ikea/starkvind.py
  zhaquirks/innr/innr_sp120_plug.py
  zhaquirks/innr/innr_sp234_plug.py
  zhaquirks/keenhome/weather.py
  zhaquirks/mli/tint.py
  zhaquirks/netvox/z308e3ed.py
  zhaquirks/salus/sp600.py
  zhaquirks/smartthings/tag_v4.py
  zhaquirks/terncy/__init__.py
  zhaquirks/thirdreality/button.py
  zhaquirks/thirdreality/switch.py
  zhaquirks/tuya/ts0210.py
  zhaquirks/tuya/ts0211.py
  zhaquirks/tuya/ts0601_din_power.py
  zhaquirks/tuya/ts0601_siren.py
  zhaquirks/tuya/ts0601_trv_sas.py
  zhaquirks/universalelectronics/contact_sensor.py
  zhaquirks/visonic/mct340e.py
  zhaquirks/xiaomi/aqara/cube.py
  zhaquirks/xiaomi/aqara/cube_aqgl01.py
  zhaquirks/xiaomi/aqara/opple_remote.py
  zhaquirks/xiaomi/aqara/remote_b186acn01.py
  zhaquirks/xiaomi/aqara/remote_b286acn01.py
  zhaquirks/xiaomi/mija/sensor_switch.py
Labels: code quality

#2712 Remove invalid usage of `ManufacturerSpecificCluster`
  zhaquirks/inovelli/__init__.py
  zhaquirks/legrand/__init__.py
  zhaquirks/lixee/zlinky.py
Labels: code quality

#2718 Merge Samjin button quirks
  zhaquirks/samjin/button.py
  zhaquirks/samjin/button2.py
Labels: code quality

#2727 Fix pressure measurements for Aqara T1 weather sensor
  tests/test_xiaomi.py
  zhaquirks/xiaomi/__init__.py
Labels: bugfix

#2693 Add device automation triggers for Icasa wall-mount remotes
  zhaquirks/const.py
  zhaquirks/icasa/__init__.py
  zhaquirks/icasa/iczb_kpd12.py
  zhaquirks/icasa/iczb_kpd14s.py
  zhaquirks/icasa/iczb_kpd18s.py
Labels: new quirk

#2729 Add Tuya mm-wave motion sensor `_TZE204_qasjif9e` variant
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#2760 Add Tuya 2 gang wall plug TS011F `_TZ3000_raviyuvk` variation
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya

#2769 Clean up Develco unit test
  tests/test_develco.py
Labels: code quality

#2784 Support power/energy for more Aqara (H1) switches, add devices
  tests/test_quirks.py
  zhaquirks/xiaomi/__init__.py
  zhaquirks/xiaomi/aqara/opple_remote.py
  zhaquirks/xiaomi/aqara/opple_switch.py
  zhaquirks/xiaomi/aqara/switch_h1.py
  zhaquirks/xiaomi/aqara/switch_h1_double.py
  zhaquirks/xiaomi/aqara/switch_h1_single.py
Labels: enhancement, new quirk

#2778 Add missing local power/energy clusters to old Aqara wall switches
  zhaquirks/xiaomi/aqara/ctrl_ln.py
Labels: bugfix
