Repository zigpy/zha-device-handlers, pull requests merged in 2023-12, with the labels that each got.

#2805 Add Tuya dimmable LED controller `_TZ3210_agjx0pxt` variation
  zhaquirks/tuya/ts0501bs.py
Labels: Tuya

#2825 Add more signatures for Aqara US switch `lumi.switch.b2naus01`
  zhaquirks/xiaomi/aqara/opple_switch.py
Labels: bugfix

#2848 Add MOES carbon monoxide detector `_TZE200_rjxqso4a` variant
  zhaquirks/tuya/ts0601_gas.py
Labels: Tuya

#2844 Add support for IKEA Somrig shortcut button
  zhaquirks/ikea/somrigsmartbtn.py
Labels: new quirk

#2863 Add another signature for Aqara H1 double switch `lumi.switch.n2aeu1`
  zhaquirks/xiaomi/aqara/switch_h1_double.py
Labels: Xiaomi

#2822 Add quirk for Aqara P1 contact sensor
  zhaquirks/xiaomi/aqara/magnet_ac01.py
Labels: new quirk, Xiaomi

#2864 Add Tuya `_TZ3000_b3mgfu0d` `TS004F` remote variant
  zhaquirks/tuya/ts004f.py
Labels: Tuya
