Repository zigpy/zha-device-handlers, pull requests merged in 2023-05, with the labels that each got.

#2332 Remove color-support for Tuya dimmer variation `_TZ3210_i680rtja`
  zhaquirks/tuya/ts0501bs.py
Labels: Tuya

#2372 Fix ZHA startup `on_off` error in 2023.5.0b2
  tests/test_quirks.py
  zhaquirks/tuya/ts130f.py
Labels: bugfix

#2350 Fix battery percentage for Sercomm XHS2-SE contact sensor
  zhaquirks/sercomm/__init__.py
  zhaquirks/sercomm/contact_sensor.py
  zhaquirks/sercomm/flood_sensor.py
Labels: new quirk

#2379 Fix SmartThings quirk, add test to verify uniqueness of cluster IDs
  tests/test_quirks.py
  zhaquirks/smartthings/multi.py
Labels: bugfix

#2380 Fix reading PM2.5 attribute in IKEA Starkvind quirk
  tests/test_ikea.py
  zhaquirks/ikea/starkvind.py
Labels: bugfix

#2388 Fix int overflow for Tuya energy sum sensor
  zhaquirks/tuya/ts0601_din_power.py
Labels: bugfix

#2387 Add Tuya cover TS0601 `_TZE200_bv1jcqqu` variant
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#2373 Add support for BTicino L4003C light switch
  tests/test_legrand.py
  zhaquirks/legrand/__init__.py
  zhaquirks/legrand/dimmer.py
  zhaquirks/legrand/switch.py
Labels: new quirk

#2132 Fix Develco SPLZB-131 plug device temperature divisor
  tests/test_develco.py
  zhaquirks/develco/power_plug.py
Labels: new quirk

#2385 Support for Aqara H1 single rocker wall switch with neutral (n1aeu1)
  zhaquirks/xiaomi/aqara/switch_h1.py
Labels: new quirk

#2386 Add support for TreatLife motion sensor
  tests/test_tuya.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#2411 Support for the Aqara H1 single rocker `WS-EUK01` (no neutral)
  zhaquirks/xiaomi/aqara/switch_h1.py
Labels: new quirk
