Repository zigpy/zha-device-handlers, pull requests merged in 2024-08, with the labels that each got.

#3281 Add Tuya Giex valve `_TZE200_7ytb3h8u`
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya

#3277 Add Tuya cover `_TZE200_1vxgqfba`
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#3257 Bump codespell to 2.3.0
  pyproject.toml
  requirements_test.txt
  zhaquirks/lixee/zlinky.py
  zhaquirks/tuya/air/__init__.py
  zhaquirks/tuya/ts0601_garage.py
  zhaquirks/tuya/ts0601_motion.py
Labels: needs final review

#3290 Add Tuya `_TZE200_emxxanvi` switch TS0601 variant
  zhaquirks/tuya/ts0601_switch.py
Labels: Tuya

#3289 Add Tuya `_TZE204_ztqnh5cg` presence and illumination variant
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#2871 Add Aqara T1 wireless mini switch `lumi.remote.b1acn02`
  zhaquirks/xiaomi/aqara/sensor_switch_aq3.py
Labels: ready, smash, Xiaomi

#3247 Add support for the Tuya TS0021 2-gang switch
  tests/test_tuya.py
  zhaquirks/tuya/ts0021.py
Labels: Tuya, ready, smash

#3276 Add custom attributes for ThirdReality nightlight `3RSNL02043Z`
  zhaquirks/thirdreality/night_light.py
Labels: smash

#3242 Add Tuya plug TS011F quirk variant
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya, smash

#3113 Add support for Tuya 2 gang relay `_TZ3000_m8f3z8ju`
  zhaquirks/tuya/ts000f_switch.py
Labels: Tuya, smash

#2991 Add Tuya smoke detector TS0205 PST-YG500A
  tests/test_tuya_smoke.py
  zhaquirks/tuya/ts0205.py
Labels: new quirk, Tuya, smash

#3246 Add Tuya vibration door sensor `_TZE200_kzm5w4iz`
  tests/test_tuya.py
  zhaquirks/tuya/ts601_door.py
Labels: Tuya, smash

#3315 Add Tuya soil sensor variant `_TZE284_aao3yzhs` and `_TZE284_sgabhwa6`
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#2336 Add support for Tuya TS1201 IR blaster
  tests/test_tuya.py
  zhaquirks/tuya/ts1201.py
Labels: new quirk, Tuya, smash
