Repository zigpy/zha-device-handlers, pull requests merged in 2024-09, with the labels that each got.

#3347 Add Tuya `_TZ3210_d062rv7j` Humble Light
  zhaquirks/tuya/ts0501bs.py
Labels: Tuya

#3360 Add ZTH-02 Tuya `_TZE204_ksz749x8` temp/humidity sensor
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3369 Add Tuya IR blaster `_TZ3290_rlkmy85q4pzoxobl` variant
  zhaquirks/tuya/ts1201.py
Labels: Tuya

#3378 Add GIEX smart valve `_TZE284_7ytb3h8u` variant
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya

#3380 Add Tuya TS130F `_TZ3000_qqdbccb3` curtain roller
  zhaquirks/tuya/ts130f.py
Labels: Tuya

#3368 Add Tuya remote TS0042 and TS0043 variants
  tests/test_tuya.py
  zhaquirks/tuya/ts0042.py
  zhaquirks/tuya/ts0043.py
Labels: Tuya

#3362 Add HZC D688-ZG dimmer switch quirk
  zhaquirks/hzc/__init__.py
  zhaquirks/hzc/dimmerswitch.py
Labels: new quirk

#3361 Add Tuya Siren TS0601 `_TZE204_hcxvyxa5` variant
  zhaquirks/tuya/ts0601_siren.py
Labels: Tuya

#3351 Add Moes Tuya valve controller `_TZE204_d0ypnbvn`, `_TZE200_d0ypnbvn`
  zhaquirks/tuya/ts0601_switch.py
Labels: Tuya

#3342 Convert Sinope files to new style AttributeDefs
  zhaquirks/sinope/sensor.py
  zhaquirks/sinope/switch.py
  zhaquirks/sinope/thermostat.py
Labels: code quality, needs review

#3313 Convert Sinope light to new style AttributeDefs, add ZHA events
  tests/test_sinope.py
  zhaquirks/sinope/__init__.py
  zhaquirks/sinope/light.py
Labels: needs review

#3264 Fix `_TZ3000_zl1kmjqx` with empty model string
  tests/test_quirks.py
  zhaquirks/tuya/ty0201.py
Labels: Tuya, ready
