Repository zigpy/zha-device-handlers, pull requests merged in 2024-11, with the labels that each got.

#3506 Add Tuya temp/humidity sensor `_TZE204_9yapgbuv` variant
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3525 Add Tuya air sensor `_TZE204_ogkdpgy2` variant
  zhaquirks/tuya/air/ts0601_air_quality.py
Labels: Tuya

#3532 Add Tuya illuminance sensor `_TZE204_khx7nnka` variant
  zhaquirks/tuya/ts0601_illuminance.py
Labels: Tuya

#3537 Add Tuya air sensor `_TZE204_c2fmom5z` variant
  zhaquirks/tuya/air/ts0601_air_quality.py
Labels: Tuya

#3529 Migrate Schneider dimmer quirks to v2, add missing models
  tests/test_schneiderelectric.py
  zhaquirks/schneiderelectric/__init__.py
  zhaquirks/schneiderelectric/dimmers.py
Labels: v2 quirk

#3512 Add Tuya contact and illuminance sensor `_TZE200_pay2byax`
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya, v2 quirk

#3504 Fix Sinope device triggers
  tests/test_sinope.py
  zhaquirks/sinope/__init__.py
Labels: bugfix

#3428 Add quirk for Sonoff ZBMINIR2
  zhaquirks/sonoff/zbminir2.py
Labels: needs review, v2 quirk

#3503 Add Tuya temp/humidity sensor `_TZE204_s139roas` variant
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3471 Add Tuya cover `_TZE200_vdiuwbkq` variant
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#3542 Let Sinopé thermostat and light quirks inherit from CustomDevice
  zhaquirks/sinope/light.py
  zhaquirks/sinope/thermostat.py
Labels: code quality

#3358 Add quirk for Sonoff TRVZB
  zhaquirks/sonoff/trvzb.py
Labels: new quirk, needs review, v2 quirk

#3546 Revert TuyaClusterData attr_value to int type only
  zhaquirks/tuya/mcu/__init__.py
Labels: Tuya, bugfix

#3544 Fix Schneider SEBallast/WiringMode attribute id
  zhaquirks/schneiderelectric/__init__.py
Labels: bugfix

#3541 Forward Philips Hue contact sensor changes to OnOff cluster
  tests/test_philips.py
  zhaquirks/philips/soc001.py
Labels: smash

#3521 Add Aqara FP1E presence sensor v2 quirk
  tests/test_xiaomi.py
  zhaquirks/xiaomi/aqara/motion_agl1.py
Labels: ready, smash, Xiaomi, v2 quirk

#3346 Add initial Sonoff smart water valve quirk
  zhaquirks/sonoff/swv.py
Labels: new quirk, smash, v2 quirk

#3552 Replace NodOn SIN-4-2-20 quirk with v2 quirk
  zhaquirks/nodon/switch.py
Labels: code quality, v2 quirk

#3364 Add initial NodOn SIN-4-FP-21 (Adeo SIN-4-FP-21_EQU) quirk
  zhaquirks/nodon/pilot_wire.py
Labels: new quirk, v2 quirk

#3554 Fix Tuya PowerConfiguration clusters on quirks without `battery_bus`
  zhaquirks/tuya/__init__.py
Labels: Tuya, bugfix

#3505 Add Tuya Royal Gardineer irrigation valve quirk
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya, v2 quirk

#3426 Add Third Reality plug, motion, water leak sensor
  zhaquirks/thirdreality/motion_sensor.py
  zhaquirks/thirdreality/plug.py
  zhaquirks/thirdreality/water_leak_sensor.py
Labels: smash, v2 quirk

#3555 Remove outdated comment in Tuya valve quirk
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya

#3556 Add Insoma SGW08W (Tuya `_TZE284_eaet5qt5`)
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya
