Repository zigpy/zha-device-handlers, pull requests merged in 2024-12, with the labels that each got.

#3598 Add `zcl_type` for Aqara FP1E sensor attributes
  zhaquirks/xiaomi/aqara/motion_agl1.py
Labels: bugfix

#3596 Convert Tuya smoke quirks to v2
  tests/test_tuya_smoke.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/ts0205.py
  zhaquirks/tuya/ts0601_smoke.py
  zhaquirks/tuya/tuya_smoke.py
Labels: Tuya, ready, v2 quirk

#3480 Add Tuya quirk builder docs
  README.md
  tuya.md
Labels: Tuya, needs review

#3586 Move Schneider outlet quirk to `schneiderelectric`
  tests/test_schneider.py
  tests/test_schneiderelectric.py
  zhaquirks/schneider/__init__.py
  zhaquirks/schneiderelectric/outlet.py
Labels: ready, code quality

#3583 Add Tuya 8 gang touch switch `_TZE204_wktrysab` variant
  zhaquirks/tuya/ts0601_switch.py
Labels: Tuya

#3608 Split Tuya IAS function into contact & smoke
  tests/test_tuya_builder.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/tuya_smoke.py
Labels: Tuya, smash

#3605 Fix duplicate opening sensor for `_TZE200_pay2byax`
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya, ready, bugfix

#3592 Support multi-button presses on Philips remotes
  tests/test_philips.py
  zhaquirks/philips/__init__.py
  zhaquirks/philips/wall_switch.py
Labels: bugfix

#3564 Refactor Aqara remote switch H1 quirk to v2 format to support all variants
  zhaquirks/xiaomi/aqara/remote_h1.py
Labels: v2 quirk

#3625 Add Tuya Namron thermostat `_TZE204_p3lqqy2r`
  tests/test_tuya_thermostat.py
  zhaquirks/tuya/ts0601_thermostat.py
Labels: Tuya, v2 quirk, needs reviewer answer

#3575 Add entities for Schneider Electric Thermostats
  zhaquirks/schneiderelectric/thermostat.py
Labels: v2 quirk

#3558 Fix Tuya RoyalGardineer valve water consumed value
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya, v2 quirk

#3612 Convert Tuya motion quirks to v2, add `_TZE200_ya4ft0w4`
  tests/test_tuya.py
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya, v2 quirk

#3629 Fix Tuya BlitzWolf motion sensor
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya, bugfix, v2 quirk

#3630 Remove `translation_key` for Tuya quirk v2 thermostat
  zhaquirks/tuya/ts0601_thermostat.py
Labels: Tuya, bugfix

#3634 Add Nedis ZBSC30WT sensor `_TZE200_s1xgth2u` variant
  tests/test_tuya_sensor.py
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3640 Add Avatto 2 ch dimmer `_TZE204_jtbgusdc` variant
  zhaquirks/tuya/ts0601_dimmer.py
Labels: Tuya

#3646 Add Tuya smoke `_TZE284_rccxox8p` variant
  tests/test_tuya_smoke.py
  zhaquirks/tuya/tuya_smoke.py
Labels: Tuya

#3649 Add Tuya `_TZE284_qyflbnbj` sensor variant
  tests/test_tuya_sensor.py
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3645 Fix Tuya motion scaling
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya, needs review, priority: medium
