Repository zigpy/zha-device-handlers, pull requests merged in 2024-05, with the labels that each got.

#3164 Remove manufacturer matching for Tuya plug TS011F variant
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya

#3173 Add Tuya soil sensor variant `_TZE204_myd45weu`
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3153 Add Tuya single button switch `TS004F` `_TZ3000_ja5osu5g`
  zhaquirks/tuya/ts004f.py
Labels: Tuya, smash

#3088 Convert IKEA Starkvind fan speed attribute
  tests/test_ikea.py
  zhaquirks/ikea/starkvind.py
Labels: enhancement

#3131 Add Tuya blinds variant `_TZE200_2odrmqwq`
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#3130 Adds BSEED/Tuya dimmer switch variant `_TZE204_vevc4c6g`
  zhaquirks/tuya/ts0601_dimmer.py
Labels: Tuya

#3169 Add more Aqara H1 wireless double rocker variants
  zhaquirks/xiaomi/aqara/remote_h1.py
Labels: smash, Xiaomi
