Repository zigpy/zha-device-handlers, pull requests merged in 2024-04, with the labels that each got.

#3090 Add Tuya smoke sensor variant `_TZE200_rccxox8p`
  zhaquirks/tuya/ts0601_smoke.py
Labels: Tuya

#3087 Add Tuya switch variants `_TZE204_wvovwe9h`, `_TZE204_2imwyigp`
  zhaquirks/tuya/ts0601_switch.py
Labels: Tuya

#3079 Add Tuya soil sensor variant `_TZE200_9cqcpkgb`
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3091 Fix Aqara high precision motion sensor not detecting motion
  zhaquirks/xiaomi/aqara/motion_agl04.py
Labels: bugfix

#3100 Add Tuya switch TS0601 `_TZE204_ptaqh9tk` variant
  zhaquirks/tuya/ts0601_switch.py
Labels: Tuya

#2150 Clean up Danfoss TRV custom attributes definitions and commands
  tests/test_danfoss.py
  zhaquirks/danfoss/__init__.py
  zhaquirks/danfoss/thermostat.py
  zhaquirks/quirk_ids.py
Labels: enhancement

#3111 Update Schneider quirks using spec docs
  zhaquirks/schneiderelectric/__init__.py
  zhaquirks/schneiderelectric/dimmers.py
Labels: smash

#3102 Add Aqara US switch WS-USC03 `lumi.switch.b1naus01` support
  zhaquirks/xiaomi/aqara/switch_h1_single.py
Labels: Xiaomi

#3124 Add Tuya Giex GX02 water valve support
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya
