Repository zigpy/zha-device-handlers, pull requests merged in 2024-03, with the labels that each got.

#3023 Add Tuya CO2 sensor `_TZE200_3ejwxpmu`
  zhaquirks/tuya/air/ts0601_air_quality.py
Labels: Tuya

#3021 Add Tuya cover TS0601 `_TZE200_9vpe3fl1` variant
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#3006 Remove unnecessary default in IKEA fw check
  zhaquirks/ikea/__init__.py
Labels: code quality

#3055 Add Tuya BSEED dimmer switch `_TZE204_n9ctkb6j`
  zhaquirks/tuya/ts0601_dimmer.py
Labels: Tuya

#3059 Fix ThirdReality long release trigger
  zhaquirks/thirdreality/button.py
Labels: bugfix

#3056 Add Moes/Tuya cover `_TZE200_icka1clh`
  tests/test_tuya_cover.py
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#3008 Add Tuya 12 channel switch `_TZE204_dqolcpcp`
  zhaquirks/tuya/ts0601_switch.py
Labels: Tuya

#2779 Fix Aqara motion sensor erroneous motion events
  zhaquirks/xiaomi/__init__.py
  zhaquirks/xiaomi/aqara/motion_agl02.py
  zhaquirks/xiaomi/aqara/motion_agl04.py
Labels: bugfix, Xiaomi
