Repository zigpy/zha-device-handlers, pull requests merged in 2024-10, with the labels that each got.

#3363 Add Tuya `_TZE204_sooucan5` presence and illumination variant
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3414 Refactor Tuya `EnchantedDevice` to use custom configuration
  tests/test_tuya_spells.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/mcu/__init__.py
  zhaquirks/tuya/ts0001_fingerbot.py
Labels: Tuya, code quality

#3429 Add Tuya air sensor `_TZE204_dwcarsat` variant
  zhaquirks/tuya/air/ts0601_smart_air.py
Labels: Tuya

#3415 Add `_VALID_ATTRIBUTES` to LocalDataCluster, fix Tuya datapoint mappings on LocalDataClusters
  tests/test_quirks.py
  zhaquirks/__init__.py
  zhaquirks/tuya/__init__.py
Labels: enhancement, Tuya

#3417 Add Tuya v2 quirk builder
  requirements_test.txt
  tests/async_mock.py
  tests/test_tuya_builder.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/mcu/__init__.py
Labels: Tuya

#3441 Use AttributeDefs for quirks subclassed from TuyaMCUCluster and TuyaNewManufCluster
  zhaquirks/tuya/ts0001_fingerbot.py
  zhaquirks/tuya/ts0601_garage.py
  zhaquirks/tuya/ts0601_motion.py
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya

#3425 Convert Tuya Sensors to TuyaQuirkBuilder format
  tests/test_tuya.py
  tests/test_tuya_sensor.py
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3412 Add Giex GX04 Soil Sensor
  zhaquirks/tuya/ts0601_sensor.py
Labels: new quirk, Tuya, v2 quirk

#3411 Add Giex GX03 Valve
  tests/test_tuya_valve.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/ts0601_valve.py
Labels: new quirk, Tuya, v2 quirk

#3394 Convert Giex GX02 quirk to V2
  tests/test_tuya_valve.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/mcu/__init__.py
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya, v2 quirk

#3432 Add Philips Hue contact sensor quirk
  zhaquirks/philips/soc001.py
Labels: new quirk, v2 quirk

#3443 Fix Tuya issue with `LocalDataCluster._VALID_ATTRIBUTES`
  tests/test_tuya_sensor.py
  zhaquirks/__init__.py
  zhaquirks/tuya/__init__.py
Labels: Tuya

#3440 Add Tuya air sensor `_TZE204_yvx5lh6k` variant
  zhaquirks/tuya/air/ts0601_air_quality.py
Labels: Tuya

#3451 Add Immax NEO Smart radiator valve `_TZE200_rufdtfyv`
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya
