Repository zigpy/zha-device-handlers, pull requests merged in 2024-01, with the labels that each got.

#2807 Add Legrand 064882 cable outlet support
  zhaquirks/legrand/cable_outlet.py
Labels: new quirk, ready

#2915 Simplify gitignores by including whole dir and add caches
  .gitignore
Labels: code quality

#2902 Add Tuya `_TZE204_yjjdcqsq` temp sensor variant
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#2903 Add support for new version of 1/2 gang MOES dimmer modules
  zhaquirks/tuya/ts0601_dimmer.py
Labels: Tuya

#2888 Add Tuya `QUERY_DATA` command
  zhaquirks/tuya/__init__.py
Labels: Tuya

#2913 Add Zbeacon DS01 quirk removing `PollControl` cluster
  zhaquirks/zbeacon/__init__.py
  zhaquirks/zbeacon/doorsensor.py
Labels: new quirk

#2363 Add support for Tuya single button scene switch variant `TS0041A`
  zhaquirks/tuya/ts0041.py
Labels: new quirk, Tuya

#2896 Update Tuya RCBO quirk power factor calculation for home-assistant/core#107641
  tests/test_tuya_rcbo.py
  zhaquirks/tuya/ts0601_rcbo.py
Labels: Tuya

#2930 Fix Sinope clusters blocking some attribute updates
  tests/test_sinope.py
  zhaquirks/sinope/__init__.py
  zhaquirks/sinope/switch.py
Labels: bugfix

#2924 Remove non-functional `IasWd` cluster for HEIMAN `SmokeSensor-EM`
  zhaquirks/heiman/smoke.py
Labels: new quirk

#2940 Refactor Tuya spell implementation, add Tuya query data spell
  tests/test_tuya.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/mcu/__init__.py
Labels: Tuya

#2941 Refactor Tuya spell tests
  tests/test_tuya.py
  tests/test_tuya_spells.py
Labels: Tuya, code quality

#2942 Change to new Tuya `EnchantedDevice` import path
  zhaquirks/lidl/ts011f_plug.py
  zhaquirks/tuya/ts0001_fingerbot.py
  zhaquirks/tuya/ts000f_switch.py
  zhaquirks/tuya/ts000x.py
  zhaquirks/tuya/ts001x.py
  zhaquirks/tuya/ts0046.py
  zhaquirks/tuya/ts004f.py
  zhaquirks/tuya/ts011f_plug.py
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya, code quality

#2836 Fix instantaneous demand on Schneider Wiser outlets
  tests/test_schneider.py
  zhaquirks/schneider/__init__.py
  zhaquirks/schneider/outlet.py
Labels: new quirk

#2939 Fix switch events for Aqara T2 relay
  tests/test_xiaomi.py
  zhaquirks/xiaomi/aqara/switch_acn047.py
Labels: bugfix
