Repository zigpy/zha-device-handlers, pull requests merged in 2024-02, with the labels that each got.

#2963 Fix Sinope custom attribute values
  zhaquirks/sinope/sensor.py
  zhaquirks/sinope/switch.py
  zhaquirks/sinope/thermostat.py
Labels: bugfix

#2966 Add Tuya `_TZE200_kyfqmmyl` switch variant
  zhaquirks/tuya/ts0601_switch.py
Labels: Tuya, ready

#2967 Update Tuya temperature sensor variants
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#2960 Add Inovelli VZM36 support and rework manufacturer clusters
  zhaquirks/inovelli/VZM31SN.py
  zhaquirks/inovelli/VZM35SN.py
  zhaquirks/inovelli/VZM36.py
  zhaquirks/inovelli/__init__.py
Labels: new quirk

#2928 Add quirk for Schneider Electric 1GANG/SHUTTER/1 (MEG5113-0300)
  tests/test_schneiderelectric.py
  zhaquirks/schneiderelectric/__init__.py
  zhaquirks/schneiderelectric/shutters.py
Labels: new quirk

#2955 Add quirk for Schneider Electric NHROTARY/DIMMER/1
  tests/test_schneiderelectric.py
  zhaquirks/schneiderelectric/dimmers.py
Labels: new quirk

#2998 Improve IKEA battery percentage firmware detection
  tests/test_ikea.py
  zhaquirks/ikea/__init__.py
Labels: bugfix

#3004 Fix Tuya 3 gang switch TS0601 `_TZE200_vhy3iakz`
  zhaquirks/tuya/ts0601_switch.py
Labels: Tuya, bugfix
