Repository zigpy/zha-device-handlers, pull requests merged in 2025-01, with the labels that each got.

#3669 Add Tuya motion sensor `_TZE204_ya4ft0w4` variant
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3674 Fix missing endpoints for Aqara H1 wireless remotes
  tests/test_xiaomi.py
  zhaquirks/xiaomi/aqara/remote_h1.py
Labels: bugfix, Xiaomi

#3661 Add Enchanted Device method to TuyaQuirkBuilder
  tests/test_tuya_builder.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/builder/__init__.py
Labels: Tuya

#3693 Add Tuya air sensor `_TZE200_mja3fuja` variant
  zhaquirks/tuya/air/ts0601_air_quality.py
Labels: Tuya

#3708 Add Immax NEO soil sensor - Tuya `_TZE200_2se8efxh`
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3676 Add Tuya radar motion sensors
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3678 Fix Tuya negative temperatures, add variants
  tests/test_tuya_sensor.py
  zhaquirks/tuya/ts0601_sensor.py
Labels: Tuya

#3682 Add Tuya TRV `_TZE204_ogx8u5z6`
  tests/test_tuya_trv.py
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya, needs review, v2 quirk

#3650 Convert all Tuya valves to v2 quirks
  tests/test_tuya.py
  tests/test_tuya_valve.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya, needs review, v2 quirk

#3697 Add Tuya siren `_TZE284_nlrfgpny`
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/tuya_siren.py
Labels: Tuya, needs review, v2 quirk

#3651 Convert Tuya air quality sensors to v2 quirks
  tests/test_quirks.py
  tests/test_tuya_air.py
  tests/test_tuya_builder.py
  zhaquirks/tuya/air/__init__.py
  zhaquirks/tuya/air/ts0601_air_quality.py
  zhaquirks/tuya/air/ts0601_smart_air.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/ts0601_co.py
  zhaquirks/tuya/tuya_co.py
  zhaquirks/tuya/ty0201.py
Labels: Tuya, needs review, v2 quirk

#3679 Add Tuya motion sensor `_TZE204_muvkrjr5`
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3680 Add Tuya motion sensor `_TZE204_kyhbrfyl`
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3688 Add Heiman HS80S-TY motion sensor `_TZ6210_duv6fhwt`
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3684 Add additional Tuya TRVs variants
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya, v2 quirk

#3724 Fix Tuya smoke detector `_TZ3210_up3pngle`
  tests/test_tuya_smoke.py
  zhaquirks/tuya/tuya_smoke.py
Labels: Tuya

#3726 Add tamper sensor to Tuya smoke detector
  tests/test_tuya_smoke.py
  zhaquirks/tuya/tuya_smoke.py
Labels: Tuya

#3728 Enhance TuyaQuirkBuilder battery method
  tests/test_tuya_builder.py
  tuya.md
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/ts0601_sensor.py
  zhaquirks/tuya/ts0601_valve.py
  zhaquirks/tuya/tuya_siren.py
  zhaquirks/tuya/tuya_smoke.py
Labels: Tuya, needs review

#3730 Add NEO NAS-PS10B2 motion sensor `_TZE204_1youk3hj`
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3635 Convert Tuya gas sensors to v2, add `_TZE200_hr0tdd47`
  tests/test_tuya_builder.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/ts0601_gas.py
  zhaquirks/tuya/tuya_gas.py
Labels: Tuya, needs review, v2 quirk

#3735 Add Tuya motion/illuminance sensors (`_TZE200_3towulqd`, ...)
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3736 Add Tuya motion `_TZE204_sxm7l9xa`, `_TZE204_e5m9c5hl`
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3737 Add Tuya Rain Seer valve `_TZ3210_0jxeoadc`
  zhaquirks/tuya/ts0601_valve.py
Labels: Tuya

#3699 Add Tuya motion sensor `_TZE204_uxllnywp`
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3705 Add Tuya PIR motion sensor ZM-35ZH-Q `_TZE200_gjldowol`
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3707 Add Tuya motion sensor `_TZE204_dapwryy7`
  tests/test_tuya_motion.py
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3700 Add Tuya TRV `_TZE204_rtrmfadk`
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya, needs review, needs reviewer answer

#3744 Add Tuya ultrasonic level sensors
  zhaquirks/tuya/tuya_level_sensor.py
Labels: Tuya

#3741 Convert Tuya sirens to v2 quirks
  tests/test_tuya.py
  tests/test_tuya_siren.py
  zhaquirks/tuya/ts0601_siren.py
  zhaquirks/tuya/tuya_siren.py
Labels: Tuya, needs review

#3734 Add additional Tuya gas sensors
  tests/test_tuya_gas.py
  zhaquirks/tuya/tuya_gas.py
Labels: Tuya, needs review

#3683 Add Nous (Tuya) SZ-T04
  tests/test_tuya_builder.py
  tests/test_tuya_sensor.py
  zhaquirks/tuya/ts0601_sensor.py
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya

#3731 Add Tuya valve `_TZE204_z7a2jmyy`
  tests/test_tuya.py
  tests/test_tuya_builder.py
  tests/test_tuya_spells.py
  tests/test_tuya_valve.py
  tuya.md
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/tuya_valve.py
Labels: Tuya, needs review

#3718 Add illuminance method to `TuyaQuirkBuilder`
  tests/test_tuya_builder.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/ts0601_motion.py
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya, needs review

#3740 Add lx unit to Tuya motion "illuminance threshold"
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya, v2 quirk

#3739 Add % unit to Schneider TRV "display brightness"
  zhaquirks/schneiderelectric/thermostat.py
Labels: v2 quirk

#3742 Add 2 empty lines between v2 quirk definitions
  zhaquirks/nimly/lock.py
  zhaquirks/nodon/pilot_wire.py
  zhaquirks/schneiderelectric/dimmers.py
Labels: code quality

#3746 Replace deprecated `dev.handle_message` usage in tests
  tests/test_inovelli_blue.py
  tests/test_konke.py
  tests/test_linxura.py
  tests/test_tuya_air.py
  tests/test_xbee.py
  tests/test_xiaomi.py
Labels: code quality

#3757 Fix `TuyaQuirkBuilder` `quirk_file` location
  zhaquirks/tuya/builder/__init__.py
Labels: Tuya, bugfix

#3759 Fix duplicate manufacturer/model in Tuya temp sensor
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya, bugfix

#3760 Fix Tuya siren manufacturer/model `_TZE204_hcxvyxa5`
  zhaquirks/tuya/tuya_siren.py
Labels: Tuya, bugfix

#3758 Test manufacturer/model are unique across v2 quirks
  tests/test_quirks_v2.py
Labels: code quality

#3761 Fix Hue remote test not marked as `async`
  tests/test_philips.py
Labels: bugfix

#3752 Add `BatterySize` enum
  tests/test_tuya_builder.py
  tests/test_xiaomi.py
  zhaquirks/const.py
  zhaquirks/ikea/__init__.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/tuya_gas.py
  zhaquirks/tuya/tuya_sensor.py
  zhaquirks/tuya/tuya_siren.py
  zhaquirks/tuya/tuya_valve.py
  zhaquirks/xiaomi/__init__.py
  zhaquirks/xiaomi/aqara/cube.py
  zhaquirks/xiaomi/aqara/cube_aqgl01.py
  zhaquirks/xiaomi/aqara/magnet_ac01.py
  zhaquirks/xiaomi/aqara/magnet_acn001.py
  zhaquirks/xiaomi/aqara/magnet_agl02.py
  zhaquirks/xiaomi/aqara/magnet_aq2.py
  zhaquirks/xiaomi/aqara/motion_ac02.py
  zhaquirks/xiaomi/aqara/motion_acn001.py
  zhaquirks/xiaomi/aqara/motion_agl02.py
  zhaquirks/xiaomi/aqara/motion_agl04.py
  zhaquirks/xiaomi/aqara/motion_aq2.py
  zhaquirks/xiaomi/aqara/motion_aq2b.py
  zhaquirks/xiaomi/mija/motion.py
  zhaquirks/xiaomi/mija/sensor_magnet.py
  zhaquirks/xiaomi/mija/sensor_switch.py
  zhaquirks/xiaomi/mija/smoke.py
Labels: needs review

#3776 Add Tuya sensor `_TZE200_vvmbj46n`
  tests/test_tuya_sensor.py
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya

#3771 Add Tuya TRV `_TZE284_ogx8u5z6`
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya

#3748 Add Avatto thermostats (Tuya)
  tests/test_tuya_thermostat.py
  zhaquirks/tuya/ts0601_thermostat.py
  zhaquirks/tuya/tuya_thermostat.py
Labels: Tuya, needs review

#3767 Add Tuya plug TS011F `_TZ3000_okaz9tjs` variant
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya

#3715 Add Tuya plug TS011F `_TZ3000_okaz9tjs` variant
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya, needs review

#3681 Add IKEA Vallhorn quirk
  zhaquirks/ikea/vallhorn.py
Labels: needs review, v2 quirk

#3689 Add Inovelli switch VZM30-SN
  zhaquirks/inovelli/VZM30SN.py
  zhaquirks/inovelli/__init__.py
Labels: needs review, needs reviewer answer

#3695 Add Tuya presence sensor TS0601 `_TZE204_laokfqwu`
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya, smash, needs review, v2 quirk

#3778 Remove `multiplier=1` from Tuya motion sensor
  zhaquirks/tuya/ts0601_motion.py
Labels: code quality

#3779 Unify "Fading time" translations for Tuya motion
  zhaquirks/tuya/ts0601_motion.py
Labels: Tuya

#3768 Add battery sensors to Tuya smoke `TZE284_0zaf1cr8`
  zhaquirks/tuya/tuya_smoke.py
Labels: Tuya, needs review

#3709 Add Tuya outdoor temp humidity sensor `_TZE204_upagmta9`
  tests/test_tuya_sensor.py
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya

#3664 Expose the 'multicolor' command on Hue lights
  zhaquirks/philips/__init__.py
  zhaquirks/philips/hue_light.py
  zhaquirks/philips/soc001.py
Labels: smash, needs review

#3789 Rename Tuya motion quirk
  tests/test_tuya.py
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya, code quality

#3784 Add Tuya plug TS011F `_TZ3000_r6buo8ba` variant
  zhaquirks/tuya/ts011f_plug.py
Labels: Tuya

#3787 Only add MCU cluster in `TuyaQuirkBuilder` if attributes are added
  tests/test_tuya_builder.py
  zhaquirks/tuya/builder/__init__.py
Labels: Tuya

#3781 Fix Tuya temp/humidity sensors `_TZ3000_zl1kmjqx`
  zhaquirks/tuya/ty0201.py
Labels: Tuya

#3571 Add Tuya 3 phase power meter `_TZE204_ugekduaj`
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/ts0601_din_power.py
Labels: Tuya, smash, needs review, v2 quirk

#3031 Improve Legrand 064882 cable outlet heat mode
  tests/test_legrand.py
  zhaquirks/legrand/cable_outlet.py
Labels: needs review, v2 quirk

#3719 Add Telink devices with custom `ZigbeeTlc` firmware quirk
  zhaquirks/custom/__init__.py
  zhaquirks/custom/telink.py
Labels: smash, needs review

#3794 Add Tuya smoke sensor `_TZE204_kgaxpvxr`
  tests/test_tuya_smoke.py
  zhaquirks/tuya/tuya_smoke.py
Labels: Tuya

#3772 Convert Saswell (Tuya) TRVs to v2
  tests/test_tuya_trv.py
  zhaquirks/tuya/ts0601_trv_sas.py
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya

#3795 Consolidate Tuya v2 TRVs
  zhaquirks/tuya/ts0601_trv.py
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya

#3790 Fix Tuya air sensor datapoints
  tests/test_tuya_air.py
  zhaquirks/tuya/tuya_co.py
Labels: Tuya

#3798 Add pilot wire mode enum select for nodon and legrand
  zhaquirks/legrand/cable_outlet.py
  zhaquirks/nodon/pilot_wire.py
Labels: v2 quirk

#3801 Add IKEA VINDSTYRKA air quality sensor
  zhaquirks/ikea/vindstyrka.py
Labels: v2 quirk

#3802 Remove Tuya `tamper` translation keys
  zhaquirks/tuya/tuya_motion.py
  zhaquirks/tuya/tuya_siren.py
Labels: Tuya

#3803 Remove Tuya `window_open` translation key
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya

#3804 Add "problem" device class to Tuya TRV entities
  zhaquirks/tuya/tuya_trv.py
  zhaquirks/tuya/tuya_valve.py
Labels: Tuya

#3805 Rename Tuya `fade_time` to `fading_time`
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya

#3806 Change Tuya valve "child lock" to switch
  zhaquirks/tuya/tuya_valve.py
Labels: Tuya, bugfix

#3809 Rename `tuay_contact.py` to `tuya_contact.py`
  zhaquirks/tuya/tuya_contact.py
Labels: Tuya, code quality

#3807 Add Tuya motion `_TZE200_clrdrnya`
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya

#3817 Fix Tuya temp/humidity sensor quirks (`_TZE200_upagmta9`, ...)
  tests/test_tuya_sensor.py
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya
