Repository zigpy/zha-device-handlers, pull requests merged in 2025-06, with the labels that each got.

#4119 Replace ByteString
  tests/test_tuya_builder.py
  zhaquirks/tuya/ts0601_power.py
Labels: code quality

#4112 Fix Tuya illuminance/valve enum sensor entity type, add test
  tests/test_quirks_v2.py
  zhaquirks/tuya/tuya_illuminance.py
  zhaquirks/tuya/tuya_valve.py
Labels: Tuya, bugfix, code quality

#4110 Add Tuya temp/humidity sensor `_TZE284_utkemkbs` variant
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya

#4089 Fix Tuya TRV `_TZE204_ltwbm23f` hysteresis enum
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, bugfix, smash

#4138 Expose extra entities for Nimly Locks
  tests/test_nimly.py
  zhaquirks/nimly/lock.py
Labels: v2 quirk

#4130 Convert Schneider Electric shutters to quirks v2, expose entities
  tests/test_schneiderelectric.py
  zhaquirks/schneiderelectric/__init__.py
  zhaquirks/schneiderelectric/dimmers.py
  zhaquirks/schneiderelectric/shutters.py
Labels: needs review

#4086 Add Senoro door sensor `_TZE200_ytx9fudw`
  zhaquirks/tuya/tuya_door.py
Labels: Tuya, smash, needs review, needs reviewer answer

#4136 Add Aqara T1M ceiling light support
  tests/test_xiaomi.py
  zhaquirks/xiaomi/__init__.py
  zhaquirks/xiaomi/aqara/light_acn.py
Labels: smash, Xiaomi, needs review
