Repository zigpy/zha-device-handlers, pull requests merged in 2025-05, with the labels that each got.

#4060 Add Tuya temperature sensor `_TZE284_yjjdcqsq` variant
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya

#3970 Add device triggers for Legrand radiant wireless switch
  zhaquirks/legrand/wirelessswitch.py
Labels: smash

#3905 Add external switch type setting to various Candeo devices
  zhaquirks/candeo/__init__.py
  zhaquirks/candeo/candeo_modules_V2.py
Labels: smash, needs review, v2 quirk

#4057 Add Tuya/Zemismart 3 phase power meter variants
  zhaquirks/tuya/ts0601_power.py
Labels: Tuya, needs review

#3989 Add temperature and humidity offset to Sonoff SNZB-02D
  zhaquirks/sonoff/snzb02d.py
Labels: smash, needs review
