Repository zigpy/zha-device-handlers, pull requests merged in 2025-04, with the labels that each got.

#3994 Fix Tuya builder overriding dp write command
  tests/test_tuya_builder.py
  zhaquirks/tuya/builder/__init__.py
Labels: Tuya, bugfix

#3995 Fix Tuya valve using incorrect MCU write command
  zhaquirks/tuya/tuya_valve.py
Labels: Tuya, bugfix

#4023 Keep overriden functions async
  zhaquirks/eurotronic/__init__.py
  zhaquirks/plaid/soil.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/mcu/__init__.py
Labels: bugfix, smash

#4006 Update tuya_sensor.py
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya

#3936 Add Tuya cover TS0601 _TZE200_ba69l9ol variant
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#3909 Expose Sonoff TRVZB attributes for 1.3 firmware
  zhaquirks/sonoff/trvzb.py
Labels: smash, v2 quirk

#3897 Add Schneider Electric smoke alarms
  zhaquirks/schneiderelectric/smoke.py
Labels: v2 quirk

#4037 Fix Tuya temp sensors `_TZE200_vvmbj46n`, `_TZE284_vvmbj46n`
  tests/test_tuya_sensor.py
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya, bugfix
