Repository zigpy/zha-device-handlers, pull requests merged in 2025-02, with the labels that each got.

#3832 Fix missing attribute ids for IKEA Vindstyrka
  zhaquirks/ikea/vindstyrka.py
Labels: bugfix

#3823 Add Tuya smoke detector `_TZE284_n4ttsck2`
  zhaquirks/tuya/tuya_smoke.py
Labels: Tuya

#3400 Add support for QUAD-ZIG-SW from smarthjemmet.dk
  tests/test_smarthjemmet.py
  zhaquirks/smarthjemmet/__init__.py
  zhaquirks/smarthjemmet/quadzigsw.py
Labels: new quirk, ready, needs review, needs reviewer answer

#3833 Fix Neo valve datapoints
  zhaquirks/tuya/tuya_valve.py
Labels: Tuya, bugfix

#3827 Prevent adding a Tuya DP converter twice for the same DP id
  tests/test_tuya_builder.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya, bugfix

#3846 Fix Tuya Saswell TRVs causing ZHA to generate new climate entity
  tests/test_tuya_trv.py
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, bugfix

#3855 Invert running state, fix local temp cal for `_TZE204_rtrmfadk`
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, bugfix

#3856 Fix local temperature calibration for `_TZE200_9xfjixap`
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, bugfix

#3853 Fix Saswell TRV local temperature calibration and system mode
  tests/test_tuya_trv.py
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, bugfix

#3858 Invert occupancy for Tuya `_TZE200_3towulqd`
  tests/test_tuya_motion.py
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya, bugfix

#3861 Use `RunningState` enum for Tuya TRVs/thermostats
  zhaquirks/tuya/tuya_thermostat.py
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, code quality

#3862 Use `SystemMode` enum for Tuya thermostats
  zhaquirks/tuya/tuya_thermostat.py
Labels: Tuya, code quality

#3864 Set `manufacturer_id_override` to NO_ID on `TuyaManufCluster`
  zhaquirks/tuya/__init__.py
Labels: Tuya

#3865 Set `manufacturer_id_override` to NO_ID for Tuya IR blaster
  zhaquirks/tuya/ts1201.py
Labels: Tuya

#3873 Fix int data type for local calibration value of Tuya TRV
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, ready, bugfix

#3877 Improve Tuya local temp calibration, remove setpoint min/max
  tests/test_tuya_thermostat.py
  tests/test_tuya_trv.py
  zhaquirks/tuya/tuya_thermostat.py
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, bugfix

#3867 Turn off schedule on `system_mode` change for `_TZE200_c88teujp`
  tests/test_tuya_trv.py
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, bugfix

#3879 Add Novadigital SG-ZB Tuya TRV variant `_TZE284_ap9owrsa`
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya

#3880 Ensure all Tuya TRVs use int32 for local temp calibration
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, bugfix

#3643 Add support for Tuya DPs mapped to multiple cluster attributes
  tests/test_tuya_builder.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/mcu/__init__.py
Labels: Tuya, needs review

#3868 Convert Tuya fingerbot to v2 quirk
  zhaquirks/tuya/ts0001_fingerbot.py
  zhaquirks/tuya/tuya_fingerbot.py
Labels: Tuya

#3885 Add Tuya siren `TZE200_nlrfgpny` variant
  zhaquirks/tuya/tuya_siren.py
Labels: Tuya

#3881 Add quirk for Colorock power monitor switch
  zhaquirks/tuya/ts0001_switch.py
Labels: Tuya, needs review

#3888 Add Tuya ultrasonic valve `_TZE200_zlwr0raf`
  zhaquirks/tuya/tuya_valve.py
Labels: Tuya

#3890 Add Beok thermostat `_TZE204_cvub6xbb`
  tests/test_tuya_thermostat.py
  zhaquirks/tuya/tuya_thermostat.py
Labels: Tuya

#3884 Add Tuya ZG-205Z/A human presence sensor `_TZE200_2aaelwxk`
  tests/test_tuya_motion.py
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya

#3822 Convert Tuya illuminance to v2 quirk
  zhaquirks/tuya/ts0601_illuminance.py
  zhaquirks/tuya/tuya_illuminance.py
Labels: Tuya, needs review

#3819 Add Tuya TRV `_TZE284_ymldrmzx`
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya

#3656 Add Tuya rain sensor `_TZ3210_tgvtvdoc`
  tests/test_tuya_rain.py
  zhaquirks/tuya/tuya_rain.py
Labels: Tuya, smash

#3886 Add Tuya Motion ZG-204ZM `_TZE200_kb5noeto`
  tests/test_tuya_motion.py
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya, smash

#3769 Add Moes (Tuya) TRV602Z and TRV801Z TRVs
  tests/test_tuya_trv.py
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, smash

#3816 Add Nedis TRV ZBHTR20WT Tuya `_TZE200_ne4pikwm`
  tests/test_tuya_trv.py
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, smash

#3887 Add Tuya mmWave radar 5.8GHz, ZY_HPS01 `_TZE204_ex3rcdha`
  tests/test_tuya_motion.py
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya

#3904 Improve typing in Tuya classes
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/mcu/__init__.py
Labels: Tuya, code quality
