Repository zigpy/zha-device-handlers, pull requests merged in 2025-09, with the labels that each got.

#4302 Improve typing in Tuya builder
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/ts0601_power.py
Labels: code quality

#4356 Add Tuya rain sensor variant `_TZ3210_p68kms0l`
  zhaquirks/tuya/tuya_rain.py
Labels: Tuya

#4296 Add Tuya TRV variant `_TZE200_py4cm3he`
  zhaquirks/tuya/ts0601_trv.py
Labels: Tuya

#4314 Add Tuya/MOES star ring dimmer variant `_TZE204_1v1dxkck`
  zhaquirks/tuya/ts0601_dimmer.py
Labels: Tuya

#4329 Remove custom Bosch `pi_heating_demand` attr for RBSH-RTH0-ZB-EU
  zhaquirks/bosch/rbsh_rth0_zb_eu.py
Labels: bugfix, needs review
