Repository zigpy/zha-device-handlers, pull requests merged in 2025-07, with the labels that each got.

#3329 Add Xiaomi LYWSD03MMC temp sensor with custom Zigbee firmware
  tests/test_xiaomi.py
  zhaquirks/xiaomi/custom/__init__.py
  zhaquirks/xiaomi/custom/z03mmc.py
Labels: new quirk, smash

#4155 Add Senoro door sensor alarm
  zhaquirks/tuya/tuya_door.py
Labels: Tuya

#4201 Add Tuya iHseno soil sensor `_TZE284_33bwcga2` variant
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya

#4195 Add Tuya HOBEIAN ZG-204ZM presence sensor variant
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya

#4188 Fix Tuya presence sensitivity config for `_ya4ft0w4`
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya

#4187 Fix Tuya presence sensor "distance tracking" for `_ya4ft0w4`
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya, bugfix, needs review

#4190 Add Tuya presence sensor `_TZE200_gkfbdvyx` variant
  zhaquirks/tuya/tuya_motion.py
Labels: Tuya

#4166 Add Tuya ZTH05 temperature sensor `_TZE284_upagmta9` variant
  tests/test_tuya_sensor.py
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya

#4158 Fix `datetime.datetime.utcnow()` deprecation warning
  requirements_test.txt
  tests/common.py
  tests/test_tuya.py
  tests/test_tuya_builder.py
  tests/test_tuya_mcu.py
  tests/test_tuya_valve.py
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/mcu/__init__.py
  zhaquirks/tuya/ts0601_haozee.py
  zhaquirks/tuya/ts0601_trv.py
  zhaquirks/tuya/tuya_sensor.py
Labels: smash

#4207 Allow disabling Sonoff SWV "Water shortage auto-close"
  zhaquirks/sonoff/swv.py
Labels: smash
