Repository zigpy/zha-device-handlers, pull requests merged in 2025-03, with the labels that each got.

#3958 Update script/setup to use uv
  script/setup
Labels: needs review

#3665 Add Sonoff SNZB-04P contact sensor
  zhaquirks/sonoff/snzb04p.py
Labels: needs review, v2 quirk

#3912 Add Sonoff SNZB-02D LCD temp/humidity sensor
  zhaquirks/sonoff/snzb02d.py
Labels: smash, needs review

#3967 Fix wrong Tuya DPToAttributeMapping imports
  tests/test_tuya_builder.py
  zhaquirks/tuya/tuya_rain.py
Labels: Tuya, needs review

#3945 Add Tuya siren `_TZE284_nlrfgpny` variant
  zhaquirks/tuya/tuya_siren.py
Labels: Tuya

#3927 Add Third Reality radar sensor detection interval
  zhaquirks/thirdreality/radar_sensor.py
Labels: v2 quirk

#3644 Add Tuya PC321-Z-TY 3 phase power meter
  tests/test_tuya_power.py
  zhaquirks/tuya/ts0601_power.py
Labels: Tuya, smash, needs review

#3901 Add NodOn SIN-4-RS-20 and SIN-4-RS-20_PRO config options
  zhaquirks/nodon/roller_shutter.py
Labels: smash, needs review

#3568 Add NodOn switch options for SIN-4-1-20, SIN-4-1-21, SIN-4-2-20
  zhaquirks/nodon/switch.py
Labels: smash, needs review, v2 quirk, needs reviewer answer

#3910 Add Sonoff water valve leak and supply sensors
  zhaquirks/sonoff/swv.py
Labels: smash, needs reviewer answer

#3926 Add Third Reality watering kit options
  zhaquirks/thirdreality/watering_kit.py
Labels: v2 quirk

#3980 Allow alternative Tuya datapoint write command, fix fingerbot
  zhaquirks/tuya/__init__.py
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/mcu/__init__.py
  zhaquirks/tuya/tuya_fingerbot.py
Labels: Tuya, bugfix

#3981 Fix Tuya thermostat deadzone temperature multiplier
  zhaquirks/tuya/tuya_thermostat.py
Labels: Tuya, bugfix

#3982 Ignore invalid high values for some Tuya PM2.5 sensors
  tests/test_tuya_air.py
  zhaquirks/tuya/tuya_co.py
Labels: Tuya

#3686 Refactor Aqara Roller Driver E1 as v2 quirk for more entities
  tests/test_xiaomi.py
  zhaquirks/xiaomi/aqara/roller_curtain_e1.py
Labels: Xiaomi, needs review

#3947 Add Tuya/NEO soil sensor NAS-STH02B2 `_TZE284_rqcuwlsa`
  zhaquirks/tuya/builder/__init__.py
  zhaquirks/tuya/tuya_sensor.py
Labels: Tuya, needs reviewer answer

#3951 Add Tuya curtain motor `_TZE200_hojryzzd` variant
  zhaquirks/tuya/ts0601_cover.py
Labels: Tuya

#3984 Remove "charging" translation key for Aqara E1 roller curtain
  zhaquirks/xiaomi/aqara/roller_curtain_e1.py
Labels: Xiaomi

#3985 Fix Tuya/Moes TRV running state `_TZE204_qyr2m29i`
  zhaquirks/tuya/tuya_trv.py
Labels: Tuya, bugfix
